.App {
    display: flex;
    border-radius: 20px;
    width: 500px;
    margin: 20px;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.CounterButtons{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.button {
    display: flex;
    margin-right: 10px;
}

.input {
    font-size: 25px;
    font-weight: bold
}

.input input {
    border-radius: 5px;
    outline: none;
}

.button button {
    flex-direction: row;
    background-color: darkslategrey;
    border-radius: 5px;
    outline: none;
    width: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 30px;
    margin-right: 20px;
    background-color: slateblue;
    margin-bottom: 20px;
    border-radius: 10px;
}

.counterStyle {
    color: red;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}

.CounterResult {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}