.App {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 300px;
    margin: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.buttons button {
    background-color: darkslategrey;
    border-radius: 5px;
    outline: none;
}

.counter {
    width: 100px;
    padding: 30px;
    text-align: center;
    background-color: slateblue;
    margin-bottom: 20px;
    border-radius: 10px;
}

.counterStyle {
    color: red;
    font-weight: bold;
    font-size: 30px;
}

.style {
    font-size: 30px;
    font-weight: bold;
}